@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 id="Visual_Studio_Assignment" class="display-4" onmouseover="newColor()" onmouseout="oldColor()">Visual Studio Assignment</h1>
    </div>


<body>
    <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jCHRCTHUb9U" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
